@model IEnumerable<PPcore.Models.SecurityRoles>
@{
    Layout = null;
}



<table class="table table-striped table-bordered table-hover" id="a_table">
    <thead>
        <tr>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.RoleName)</th>
            <th style="display:none">@Html.DisplayNameFor(model => model.RoleId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:150px;">@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td style="display:none">@Html.DisplayFor(modelItem => item.RoleId)</td>
            </tr>
        }
    </tbody>
</table>

