@model IEnumerable<PPcore.Models.SecurityRoles>
@{
    Layout = null;
}

@{ var utype = 0;}
@foreach (var item in Model)
{
    utype++;
    <li id="menu_@utype" style="cursor:pointer;">
        <div id="bar_@utype" style="position:absolute;height:40px;width:14px;">&nbsp;</div>
        <a id="menua_@item.RoleId" onclick="aUsersByRole('@item.RoleId', @utype, '@item.RoleName')">&nbsp;&nbsp;&nbsp;@item.RoleName</a>
    </li>
}